<div class="main">
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <%# image %>
    <%= cl_image_tag(@image, :width => "100%", :cloud_name => 'your_cloud_name') %>
    <%# story %>
    <div class="story-container">
      <p><%= @story %></p>
    </div>
    <%# options %>
    <div class="options" data-controller='option'>
      <div class="list-group" role="group" aria-label="Vertical button group">
        <% @options.each do |key, option| %>
          <li type="li" class="btn list-group-item list-group-item-action option" data-action="click->option#select_option" id=<%= key %>><%= option %></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
